{% extends 'layouts/web.twig' %}

{% block title %}
	Test
{% endblock %}

{% block content %}

<section class="section">
	<h1>{{ trans('common.welcome', { '%name%' : 'Steve'}) }}</h1>
	<h2>{{ trans_choice('common.new_messages', 5, { '%name%' : 'Steve' }) }}</h2>
	<h2>{{ trans_choice('common.replies', 0) }}</h2>
</section>

{% if flash %}
	<div class="notification">
		{{ dump(flash) }}
	</div>
{% endif %}

{% endblock %}